/* gruvbox-like theme for Obsidian */

.theme-dark.minimal-gruvbox-dark {
  --color-red-rgb: 204, 36, 29;
  --color-orange-rgb: 214,93,14;
  --color-yellow-rgb: 215,153,33;
  --color-green-rgb: 152,151,26;
  --color-cyan-rgb: 104,157,106;
  --color-blue-rgb: 69,133,136;
  --color-purple-rgb: 177,98,134;
  --color-pink-rgb: 177,98,134;
  --color-red:#cc241d;
  --color-orange:#d65d0e;
  --color-yellow:#d79921;
  --color-green:#98971a;
  --color-cyan:#689d6a;
  --color-blue:#458588;
  --color-purple:#b16286;
  --color-pink:#b16286;
}

.theme-dark.minimal-gruvbox-dark {
  --accent-h:24;
  --accent-s:88%;
  --accent-l:45%;
  --bg1:#282828;
  --bg2:#1e2021;
  --bg3:#3d3836;
  --bg3:rgba(62,57,55,0.5);
  --ui1:#3c3836;
  --ui2:#504945;
  --ui3:#665c54;
  --tx1:#fbf1c7;
  --tx2:#bdae93;
  --tx3:#7c6f64;
  --hl1:rgba(173,149,139,0.3);
  --hl2:rgba(215,153,33,.4);
}

.theme-dark.minimal-gruvbox-dark.minimal-dark-black {
  --hl1:rgba(173,149,139,0.4);
  --ui1:#282828;
}
